<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156373365975-gfbcno6p1r0ppsjrmis983rvlo179rut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156373365975-gfbcno6p1r0ppsjrmis983rvlo179rut</string>
	<key>API_KEY</key>
	<string>AIzaSyAWed1yBcwDu_ye84lDG3va9ODXdXYjH8o</string>
	<key>GCM_SENDER_ID</key>
	<string>156373365975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.takuyayanase.MusicShareApp</string>
	<key>PROJECT_ID</key>
	<string>syupreproject</string>
	<key>STORAGE_BUCKET</key>
	<string>syupreproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156373365975:ios:9697f1bbc6e26b44812c92</string>
	<key>DATABASE_URL</key>
	<string>https://syupreproject.firebaseio.com</string>
</dict>
</plist>